<div class="row">
	<div class="col-md-12">
		<div class="page-header">
				<h1>
				<i class="fa fa-times"></i> Leider ist ein Fehler aufgetreten
				<br>
				<small>Die angeforderte Ressource wurde nicht gefunden</small>
				</h1>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<p> Die von Ihnen angeforderte Ressource konnte leider nicht gefunden werden. Dies kann verschiedene Gründe haben:</p>
		<ul>
			<li> Sie haben sich vertippt</li>
			<li> Die Ressource ist nicht mehr unter der alten Adresse erreichbar</li>
		</ul>
	</div>
</div>
		