<div ng-controller="SearchController as SearchCtrl">

    <div ng-controller="AdvancedSearchController as AdvSearchCtrl">
        <uib-accordion>
            <div uib-accordion-group is-open="$parent.advancedSearchOpen" is-disabled="noSearchterm" class="advanced-search-panel">
                <uib-accordion-heading>
                    <i class="fa"
                       ng-class="{'fa-chevron-down': advancedSearchOpen, 'fa-chevron-right': !advancedSearchOpen}"
                       ng-hide="noSearchterm"></i>
                    Erweiterte Suche
                </uib-accordion-heading>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <p>
                            Alle eingegebenen Suchkriterien werden implizit mit <code>UND</code> verknüpft. Kriterien,
                            die
                            sich auf dasselbe Feld beziehen, werden mit <code>ODER</code> konkateniert.
                        </p>
                    </div>
                </div>
                <ng-advancedsearchrow ng-repeat="criterion in criteria"></ng-advancedsearchrow>
                <div class="row advanced-search-menu">
                    <div class="col-md-4 col-md-offset-1">
                        <button type="button" class="btn btn-primary" ng-click="AdvSearchCtrl.addDefaultCriterion()">
                            <i class="fa fa-plus"></i> Weiteres Kriterium hinzufügen
                        </button>
                    </div>
                    <div class="col-md-2 col-md-offset-4">
                        <button type="button" class="btn btn-primary pull-right" ng-click="AdvSearchCtrl.startSearch()">
                            <i class="fa fa-search"></i> Suchen
                        </button>
                    </div>
                </div>
            </div>
        </uib-accordion>
    </div>

    <div ng-show="entries.error">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-danger">{{entries.errorMessage}}</div>
            </div>
        </div>
    </div>

    <div ng-show="SearchCtrl.showNoHits()">
        <div class="row">
            <div class="col-md-12">
                Vorschläge:
                <br>
                <ul>
                    <li>Prüfen Sie, ob der Suchbegriff korrekt ist</li>
                    <li>Versuchen Sie es mit einem anderen Begriff erneut</li>
                </ul>
            </div>
        </div>
    </div>

    <div ng-show="SearchCtrl.showSearch()">
        <ng-optionbar></ng-optionbar>
        <!-- List -->
        <div infinite-scroll='entries.loadMore()' infinite-scroll-disabled='entries.loading'
             infinite-scroll-distance='1'>
            <ng-item ng-repeat="item in entries.items"></ng-item>
        </div>
        <!-- End of list -->
        <div class="row" ng-show="entries.loading">
            <div class="col-xs-2 col-xs-offset-5 entry-follow">
                <h3><i class="fa fa-spinner fa-spin"></i> Laden...</h3>
            </div>
        </div>
        <div class="row" ng-hide="entries.more">
            <div class="col-xs-4 col-xs-offset-4 entry-follow">
                <h3> Keine weiteren Titel in dieser Ansicht.</h3>
            </div>
        </div>
    </div>
</div>
