<div ng-controller="WatchlistController">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
          <h1>
            <i class="fa fa-star"></i> {{title}}
            <br>
            <small>
              <span ng-hide="entries.loading">{{entries.total}} Datensätze in dieser Ansicht</span>
              <span ng-show="entries.loading"><i class="fa fa-spinner fa-spin"></i> Laden...</span>
            </small>
          </h1>
      </div>
    </div>
  </div>
  <ng-optionbar></ng-optionbar>
  <!-- List -->
  <div infinite-scroll='entries.loadMore()' infinite-scroll-disabled='entries.loading' infinite-scroll-distance='1'>
    <ng-item ng-repeat="item in entries.items"></ng-item>
  </div>
  <!-- End of list -->
  <div class="row" ng-show="entries.loading">
    <div class="col-xs-2 col-xs-offset-5 entry-follow">
      <h3><i class="fa fa-spinner fa-spin"></i> Laden...</h3>
    </div>
  </div>
  <div class="row" ng-hide="entries.more">
    <div class="col-xs-4 col-xs-offset-4 entry-follow">
      <h3> Keine weiteren Titel in dieser Ansicht.</h3>
    </div>
  </div>
</div>