<!DOCTYPE html>
<html ng-app="Profildienst">
<head>
    <title>GBV-Profildienste</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" type="image/x-icon" href="assets/icon/profildienst.ico">
    <link href="/dist/css/main.min.css" rel="stylesheet" media="screen">
    <link href="/dist/css/vendor.min.css" rel="stylesheet" media="screen">
</head>
<body>
    <script src="/dist/js/vendor.min.js"></script>
    <script src="/dist/js/main.js"></script>
    <ng-menubar></ng-menubar>
    <div class="container">
      <!-- main partial -->
      <div ng-controller="MainController">
        <div class="row">
          <div class="col-md-12">
            <div class="page-header">
                <h1>
                <i class="fa fa-star"></i> {{title}}
                <br>
                <small>{{entries.items.length}} Datensätze in dieser Ansicht</small>
                </h1>
            </div>
          </div>
        </div>
        <ng-optionbar></ng-optionbar>
        <!-- List -->
        <div infinite-scroll='entries.loadMore()' infinite-scroll-disabled='entries.loading' infinite-scroll-distance='1'>
          <div ng-repeat="item in entries.items" ng-include="'/template/ui/dataset.html'"></div>
        <!-- End of list -->
      </div>
    </div>
    <hr>
    <p class="text-right text-muted footer"><small><a href="/">GBV-Profildienst</a> Version XX</small></p>
    
    <script type="text/ng-template" id="coverModal.html">
            <div class="modal-header">
                <h4 class="modal-title">Cover-Ansicht</h4>
            </div>
            <div class="modal-body">
                <img ng-src="{{cover}}">
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="close()">Schließen</button>
            </div>
    </script>

    <script type="text/ng-template" id="errorModal.html">
            <div class="modal-header">
                <h4 class="modal-title">Sitzung abgelaufen</h4>
            </div>
            <div class="modal-body">
                <p>Ihre Sitzung ist abgelaufen. Sie müssen sich erneut anmelden,
                um den Profildienst weiter verwenden zu können.</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="redirect()">Anmelden</button>
            </div>
    </script>
</body>
</html>
