<!DOCTYPE html>
<html ng-app="Profildienst">
<head>
    <title>GBV-Profildienste</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" type="image/x-icon" href="assets/icon/profildienst.ico">
    <link href="/dist/css/main.min.css" rel="stylesheet" media="screen">
    <link href="/dist/css/vendor.min.css" rel="stylesheet" media="screen">
</head>
<body>
    <script src="/dist/js/vendor.min.js"></script>
    <!-- <script src="/dist/js/main.min.js"></script> -->
    <script src="app.js"></script>

    <div class="navbar navbar-default navbar-fixed-top" ng-controller="MenuController">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand pd-brand" href="/">Profildienst</a>
            </div>
            <div class="navbar-collapse collapse" id="top-menu">

                <ul class="nav navbar-nav navbar-right shop-options">
                <li><a href="/show/cart" id="cart-btn"><i class="fa fa-shopping-cart fa-lg"></i> Warenkorb <span class="badge" id="cart-count">{{cart}}</span></a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="wl-dropdown"><i class="fa fa-star fa-lg"></i> Merklisten <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="wl in watchlists">
                                <a href="/show/watchlist/{{wl.id}}">{{wl.name}} <span class="badge">{{wl.count}}</span></a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="/show/manage-watchlists">Merklisten verwalten</a></li>
                        </ul>
                    </li>
                    <li class="chg-menu"></li>
                    <li class="dropdown sep-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user fa-lg"></i> <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header"> {{name}}</li>
                            <li><a href="/show/cart">Warenkorb</a></li>
                            <li><a href="/show/pending">In Bearbeitung</a></li>
                            <li><a href="/show/done">Bearbeitet</a></li>
                            <li><a href="/show/rejected">Abgelehnt</a></li>
                            <li class="divider"></li>
                            <li><a href="/logout">Abmelden</a></li>
                        </ul>
                    </li>
                </ul>

                <form class="navbar-form">
                    <div class="form-group" style="display:inline;">
                        <div class="input-group">
                            <span class="input-group-addon search-lbl"><i class="fa fa-search"></i></span>
                            <input type="text" class="form-control" id="search-field" placeholder="Suche (Für Hilfe auf das Icon links klicken)" value="{$searchval}" autofocus>
                        </div>
                    </div>
                </form>
            </div>
            <div class="navbar-collapse collapse shop-options" id="sel-menu" style="display:none !important;">
                <p class="navbar-text">Elemente in der aktuellen Auswahl: <span class="badge" id="sel-count">0</span></p>
                <ul class="nav navbar-nav navbar-right">

                    <li><a href="#" id="btn-sel-none"><i class="fa fa-bolt fa-lg"></i> Auswahl aufheben</a></li>
                    <li><a href="#" id="btn-sel-all"><i class="fa fa-asterisk fa-lg"></i> Alles auswählen</a></li>
                    <li><a href="#" id="btn-rj-all"><i class="fa fa-minus-circle fa-lg"></i> Auswahl ablehnen</a></li>
                    <li class="sep-right"></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
      <!-- main partial -->
      <div ng-controller="MainController">
        <div class="row">
          <div class="col-md-12">
            <div class="page-header">
                <h1>
                <i class="fa fa-star"></i> {{title}}
                <br>
                <small>{{entries.items.length}} Datensätze in dieser Ansicht</small>
                </h1>
            </div>
          </div>
        </div>
        <!-- list -->
        <div infinite-scroll='entries.loadMore()' infinite-scroll-disabled='entries.loading' infinite-scroll-distance='1'>
          <div ng-repeat="item in entries.items" ng-include="'/template/ui/dataset.html'"></div>
        <!-- End of list -->
      </div>
    </div>
    <hr>
    <p class="text-right text-muted footer"><small><a href="/">GBV-Profildienst</a> Version XX</small></p>
    
    

    <!-- price -->
    <div id='price-inf'>
    <span class='text-muted'>Schätzpreis:</span><br>
    <span id='estprice'>EUR {$price}</span><br><br>
    <span class='text-muted'>Details:</span><br>
    <span id='price_known'>{$known}</span> bekannt<br>
    <span id='price_est'>{$est}</span> geschätzt
    </div>
    <!-- /price -->

    <!-- Modal -->
    <div class="modal" id="modalHelp" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <script type="text/ng-template" id="coverModal.html">
            <div class="modal-header">
                <h4 class="modal-title">Cover-Ansicht</h4>
            </div>
            <div class="modal-body">
                <img ng-src="{{cover}}">
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="close()">Schließen</button>
            </div>
    </script>
</body>
</html>
