<div ng-controller="LandingController">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>GBV Online Profildienste</h1>
            </div>
            <div class="alert alert-danger" ng-show="info | notEmpty">
                {{info}}
            </div>
            <p>
                Die Online Profildienste sind ein Service des GBV zur Unterstützung von FachreferentInnen bei der
                Erwerbung.
                <br>
                <br>
                Weitere Informationen finden Sie im <a
                    href="http://www.gbv.de/wikis/cls/Profildienste" target="_blank">GBV-Verbundwiki</a>.
                <br>
                <br>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Teilnehmende Bibliotheken</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <ul class="nav nav-pills nav-stacked pd-sel">
                <li ng-repeat="lib in libraries" ng-click="openLogin(lib.isil)">
                    <a href=""><i class="fa fa-caret-right pd-sel-caret"></i> {{lib.name}} <span class="text-muted">({{lib.isil}})</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>