<div class="row" id="pgh">
	<div class="col-md-12">
		<div class="page-header">
			<h1>
				<i class="fa fa-star"></i> Verwaltung Ihrer Merklisten<br><small> Sie verfügen über {$wl_count} Merklisten</small>
			</h1>
		</div>
	</div>
</div>
<div class="row controls">
	<div class="col-md-12">
		<h2>Neue Merkliste erstellen</h2>
		<p>Bitte geben Sie den Namen der Merkliste ein, die Sie erstellen wollen und klicken Sie anschließend auf Hinzufügen.</p>
		<div class="navbar navbar-inverse" role="navigation">
			<ul class="nav navbar-nav">
				<p class="navbar-text">Name der neuen Liste:</p>
			</ul>
			<form class="navbar-form navbar-left">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Name" id="wlm-add">
				</div>
				<button type="button" class="btn btn-default" id="wlm-add-btn"><i class="icon-plus"></i> Hinzufügen</button>
			</form>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<h2>Ihre Merklisten</h2>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<p>Sie können die Reihenfolge Ihrer Merklisten durch Klicken und Verschieben auf die entsprechende Merkliste ändern. Eine Änderung
			der Reihenfolge hat Auswirkungen auf die Anzeige der Merklisten in den Auwahlmenüs. So können Sie häufig verwendete Merklisten in den Vordergrund rücken.
		</p>
	</div>
</div>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<table id="sort" class="table">
			<thead>
				<tr><th colspan="2"><h3>Merklisten</h3></th></tr>
			</thead>
			<tbody>
				{loop="$wls"}
				<tr class="active" id="wl-{$value.id}">
					<td>
						<div class="col-md-6">
							<p class="form-control-static">{$value.name}</p>
						</div>
						<button class="btn btn-default wlm-edit wlm-btn" rel="{$value.id}"><i class="fa fa-pencil"></i></button>
					</td>
					<td>
						<div class="pull-right">
							<button class="btn btn-default wlm-open wlm-action" rel='{$value.open_act}'><i class="fa fa-eye"></i></button>
							{if="$value.id == $wl_def"}
							<button class="btn btn-default wlm-def wlm-action default" rel='{$value.def_act}' disabled="disabled"><i class="fa fa-bookmark"></i></button>
							{else}
							<button class="btn btn-default wlm-def wlm-action" rel='{$value.def_act}'><i class="fa fa-bookmark"></i></button>
							{/if}
							{if="$wl_count == 1"}
							<button class="btn btn-default wlm-remove wlm-action" rel='{$value.remove_act}' disabled="disabled"><i class="fa fa-times"></i></button>
							{else}
							<button class="btn btn-default wlm-remove wlm-action" rel='{$value.remove_act}'><i class="fa fa-times"></i></button>
							{/if}
						</div>
					</td>
				</tr>
				{/loop}
			</tbody>
		</table>
	</div>
</div>
