<div class="row controls">
	<div class="col-md-12">
		<nav class="navbar navbar-inverse" role="navigation">
			<ul class="nav navbar-nav">
				{if="$sel_pos"}
				<li><a href="#" id="btn-sel-all-bar"><i class="fa fa-asterisk"></i></a></li>
				{/if}
				<p class="navbar-text">Sortieren nach: </p>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					{$sel_sortbyname} <b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
					{loop="$sortby"}
						{if="$value.sort != $sel_sortby"}
							<li><a href="#" class="chg-set" rel='{$value.rel}'>{$value.sortname}</a></li>
						{/if}
					{/loop}
					</ul>
				</li>
				<p class="navbar-text">Reihenfolge: </p>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					{$sel_ordername} <b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
					{loop="$order"}
						{if="$value.ord != $sel_order"}
							<li><a href="#" class="chg-set" rel='{$value.rel}'>{$value.ordername}</a></li>
						{/if}
					{/loop}
					</ul>
				</li>
				<p class="navbar-text">Titel pro Seite: </p>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					{$psize} Titel <b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
					{loop="$psizes"}
						{if="$value.size != $psize"}
							<li><a href="#" class="chg-set" rel='{$value.rel}'>{$value.size} Titel </a></li>
						{/if}
					{/loop}
					</ul>
				</li>
			</ul>
		</nav>
	</div>
</div>
<div id="contentwrapper">
{loop="$list"}
	{$value}
{/loop}
</div>
<div class="row" id="loader">
	<div class="col-md-2 col-md-offset-5">
	<i class="fa fa-spinner fa-spin fa-3x"></i>
	</div>
</div>
<script type="text/javascript">
$.pageload_url = '{$url}';
$.page = 1;
</script>