{if="$count > 0 && $error == 0"}
<div class="row">
	<div class="col-md-12">
		<div class="page-header">
				<h1>
				Suchergebnisse für '{$query}' <small> {$count} Treffer gefunden </small>
				<br>
				<small><a href="/"><i class="fa fa-angle-double-left"></i> Zurück zur Gesamtübersicht</a></small>
				</h1>
		</div>
	</div>
</div>
{$list}
{/if}

{if="$error == 1"}
<div class="row">
	<div class="col-md-12">
		<div class="page-header">
				<h1>
				Leider ist ein Fehler aufgetreten
				<br>
				<small>Keine Suchanfrage eingegeben</small>
				</h1>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<p>Bitte geben Sie in das obige Textfeld eine Suchanfrage ein, um mit der Suche zu beginnen.</p>
	</div>
</div>
{/if}

{if="$error == 2"}
<div class="row">
	<div class="col-md-12">
		<div class="page-header">
				<h1>
				Leider ist ein Fehler aufgetreten
				<br>
				<small>Keine valide Suchanfrage</small>
				</h1>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<p>Bitte geben Sie in das obige Textfeld eine Suchanfrage ein, um mit der Suche zu beginnen.</p>
	</div>
</div>
{/if}

{if="$count == 0 && $error == 0"}
<div class="row">
	<div class="col-md-12">
		<div class="page-header">
				<h1>
				Suche beendet
				<br>
				<small>Es wurden leider keine Treffer gefunden</small>
				</h1>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
	Vorschläge:<br>
		<ul>
			<li>Prüfen Sie, ob der Suchbegriff korrekt ist</li>
			<li>Versuchen Sie es mit einem anderen Begriff erneut</li>
		</ul>
	</div>
</div>
{/if}