<!-- -->
<div class="row title-box" ng-class="{selected: item.status.selected}" ng-controller="ItemController as ItemCtrl">
    <!-- Linke Seite -->
    <div class="col-md-2">
        <div class="row">
            <!-- Selektor -->
            <div class="col-md-4">
                <button type="button" class="btn btn-link pull-left item-select xt-list" ng-show="selectionEnabled"
                        ng-click="ItemCtrl.toggleSelect()" ng-class="{ itemSelected: item.status.selected}">
                    <i class="fa fa-square-o fa-2x" ng-hide="item.status.selected"></i>
                    <i class="fa fa-check-square-o fa-2x" ng-show="item.status.selected"></i>
                </button>
                <button type="button" class="btn btn-link pull-left item-pica-btn xt-list" ng-click="ItemCtrl.openPICA()">
                    <i class="fa fa-database"></i>
                </button>
            </div>
            <!-- Cover -->
            <div class="col-md-8 cover-section">
                <div ng-show="item.hasCover">
                    <i ng-show="loadingCover" class="fa fa-spinner fa-spin"></i>
                    <span ng-show="!loadingCover && !cover"><i  class="fa fa-times"></i> Cover konnte nicht geladen werden.</span>
                    <img ng-hide="loadingCover" data-ng-src="data:image/jpeg;base64,{{cover}}" class="cover cover-lg"
                         ng-click="ItemCtrl.showCover()">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-7 title-content">
        <!-- Start Mitte -->
        <h2 ng-show="item.titel | notEmpty">{{item.titel}}</h2>
        <h2 ng-show="!item.titel && (item.uebergeordnete_gesamtheit | notEmpty)"><span class="text-muted">MBW:</span>&nbsp;{{item.uebergeordnete_gesamtheit}}</h2>
        <br>
        <h3>{{item.untertitel}}</h3>
        <br>
        <br>
        <span ng-show="item.einheitssachtitel_1 | notEmpty">
                <span class="text-muted">Einheitssachtitel: </span> {{item.einheitssachtitel_1}}<br><br>
        </span>
        <span ng-show="item.einheitssachtitel_2 | notEmpty">
                <span class="text-muted">Einheitssachtitel: </span> {{item.einheitssachtitel_2}}<br><br>
        </span>
        <span class="text-muted">von</span> {{item.verfasser}} <span class="text-muted">(</span>{{item.verlag}}<span
            ng-show="item.ort | notEmpty">, {{item.ort}}</span><span class="text-muted">)</span>
        <br>
        <span ng-show="item.gehoert_zu | notEmpty">
            <span class="text-muted">Gehört zu: </span> {{item.gehoert_zu}}<br><br>
        </span>
        <span class="text-muted">Umfang: </span> {{item.umfang}}
        <span ng-show="item.ill_angabe | notEmpty">
            <span class="text-muted">, </span>{{item.ill_angabe}}
        </span>
        <span ng-show="item.format | notEmpty">
            <span class="text-muted">, </span>{{item.format}}
        </span>
        <br>
        <br>
        <span class="text-muted">ISBN: </span> {{item.isbn}} <br>
        <br>
        <span class="text-muted">erscheint: </span> {{item.ersch_termin}} <br>
        <br>
        <span ng-show="item.mak | notEmpty">
            <span class="text-muted">GVK-Treffer: </span>{{item.mak}}
        </span>
        <span ng-show="item.ilns | notEmpty">
            <span class="text-muted">(ILNs: </span>{{item.ilns}}
            <span ng-show="item.ppn" class="text-muted">, PPN: </span> {{item.ppn}}
            <span class="text-muted">)</span>
        </span>
        <br>
        <br>
        <span ng-show="item.forwardedBy | notEmpty">
            <span class="erhalten-von-tag">Erhalten von:</span>&nbsp;{{ItemCtrl.formatColleagueName(item.forwardedBy)}}
        </span>

        <br>
        <br>

        <form class="form-inline">
            <!-- Lieferant -->
            <span class="text-muted">Lieferant: </span>
            <select ng-model="item.supplierValue" ng-options="supplier.value as supplier.name for supplier in suppliers"
                    ng-show="ItemCtrl.editOrderInformation()" class="form-control order-input input-sm"
                    ng-change="ItemCtrl.saveSupplier()" ng-disabled="loading.supplier"
                    ng-class="{saved: saved.supplier}">
            </select>
            <span class="fixed-orderinfo" ng-hide="ItemCtrl.editOrderInformation()">{{item.supplier}}</span>

            <!-- Budget -->
            <span class="text-muted">Budget: </span>
            <select ng-model="item.budgetValue" ng-options="budget.value as budget.name for budget in budgets"
                    ng-show="ItemCtrl.editOrderInformation()" class="form-control order-input input-sm"
                    ng-change="ItemCtrl.saveBudget()" ng-disabled="loading.budget"
                    ng-class="{saved: saved.budget}">
            </select>
            <span class="fixed-orderinfo" ng-hide="ItemCtrl.editOrderInformation()">{{item.budget}}</span>

            <!-- Selektionscode -->
            <span class="text-muted">Selektionscode: </span>
            <input type="text" title="Maximal 20 Zeichen" class="form-control input-sm order-input" size="20"
                   ng-show="ItemCtrl.editOrderInformation()" ng-maxlength="20" ng-minlength="0" ng-model="item.selcode"
                   ng-focus="ItemCtrl.saveSelcode()" ng-blur="ItemCtrl.closeSelcode()"
                   ng-disabled="loading.selcode" ng-class="{saved: saved.selcode}">
            <span class="fixed-orderinfo" ng-hide="ItemCtrl.editOrderInformation()">{{item.selcode}}</span>

            <!-- SSG Nummer -->
            <span class="text-muted">SSGs-Nr.: </span>
            <input type="text" title="Maximal 3 Zeichen" class="form-control input-sm order-input" size="3"
                   ng-show="ItemCtrl.editOrderInformation()" ng-maxlength="3" ng-minlength="0" ng-model="item.ssgnr"
                   ng-focus="ItemCtrl.saveSSGNr()" ng-blur="ItemCtrl.closeSSGNr()"
                   ng-disabled="loading.ssgnr" ng-class="{saved: saved.ssgnr}">
            <span class="fixed-orderinfo" ng-hide="ItemCtrl.editOrderInformation()">{{item.ssgnr}}</span>

        </form>

        <div uib-collapse="bibInfCollapsed">
            <br>
            <span class="text-muted">Erscheinungsjahr: </span> {{item.ersch_jahr}} <br><br>
            <span class="text-muted">Gattung: </span> {{item.gattung}} <br><br>
            <span ng-show="item.dnb_link | notEmpty">
                <span class="text-muted">DNB-Link: </span>
                <a href="{{item.dnb_link}}" target="_blank">
                    <i class="fa fa-external-link"></i> {{item.dnb_link}}
                </a>
                <br>
                <br>
            </span>
            <span class="text-muted">WV: </span> {{item.wvdnb}} <br><br>
            <span class="text-muted">DNB Sachgruppe: </span> {{item.sachgruppe}} <br><br>
            <span class="text-muted">Zugeordnete Fachreferenten: </span>
            <span ng-repeat="person in item.zugeordnet">
                {{person}}{{$last ? '' : ', '}}
            </span>
            <br>
            <br>
        </div>

        <!-- Comments -->
        <div ng-hide="ItemCtrl.editOrderInformation()">
            <br>
            <br>
            <span class="text-muted">Kommentar: </span>
            <br>
            <span>{{item.comment}}</span>
        </div>
        <div uib-collapse="CommentCollapsed" ng-show="ItemCtrl.editOrderInformation()">
            <br>
            <span class="text-muted">Kommentar: </span><br>
            <textarea class="form-control cmt-field" rows="3"
                      ng-model="item.comment" ng-focus="ItemCtrl.saveComment()" ng-blur="ItemCtrl.closeComment()"
                      placeholder="Freitext-Kommentar" ng-disabled="loading.comment"
                      ng-class="{saved: saved.comment}"></textarea>

        </div>

        <br>
        <br>
        <br>
        <br>

        <!-- Buttons -->
        <button type="button" ng-click="bibInfCollapsed = !bibInfCollapsed" class="btn btn-primary btn-sm add-bib-inf">
            <i class="fa fa-plus-square-o" ng-show="bibInfCollapsed"></i>
            <i class="fa fa-minus-square-o" ng-hide="bibInfCollapsed"></i>
            Zusätzliche Informationen
        </button>

        <button type="button" ng-show="ItemCtrl.editOrderInformation()" ng-click="CommentCollapsed = false"
                class="btn btn-primary btn-sm cmt-btn">
            <i class="fa fa-comment"></i> Kommentieren
        </button>

        <button type="button" class="btn btn-primary btn-sm btn-opac" ng-click="ItemCtrl.openOPAC()">
            <i class="fa fa-external-link"></i> OPAC Suche
        </button>

        <button type="button" class="btn btn-primary btn-sm add-inf" ng-show="item.addInfURL | notEmpty"
                ng-click="ItemCtrl.getAddInf()">
            <i class="fa fa-plus-square-o" ng-show="addInfCollapsed"></i>
            <i class="fa fa-minus-square-o" ng-hide="addInfCollapsed"></i>
            Verlagsmeldung
        </button>

        <br>
        <br>

        <div class="well well-lg" ng-bind-html="addInf" uib-collapse="addInfCollapsed"
             ng-show="addInf | notEmpty"></div>
        <!-- End Mitte -->
    </div>
    <div class="col-md-3 title-content">
        <!-- Preisinformationen -->
        <div class="row title-price">
            <div class="col-md-12">
                <span class="price" ng-bind-html="item.preis" ng-show="item.preis | notEmpty">{{item.preis}}</span>
                <span class="text-muted" ng-show="item.preis_kom | notEmpty">{{item.preis_kom}}</span>
            </div>
        </div>
        <!-- Button 1 -->
        <div class="row title-button">
            <div class="col-md-12">

                <div class="btn-group pull-right" ng-show="ItemCtrl.showCartBtnRem()">
                    <button type="button" class="btn btn-success" disabled="disabled">
                        <i class="fa fa-check"></i> Im Warenkorb
                    </button>
                    <button type="button" class="btn btn-default" ng-click="ItemCtrl.removeFromCart()">
                        <i class="fa fa-times"></i>
                    </button>
                </div>

                <div class="btn-group pull-right" ng-show="ItemCtrl.showCartBtn()">
                    <button type="button" class="btn btn-success" ng-click="ItemCtrl.addToCart()">
                        <i class="fa fa-shopping-cart"></i> Warenkorb
                    </button>
                </div>

            </div>
        </div>
        <!-- Button 2 -->
        <div class="row" class="title-button">
            <div class="col-md-12">

                <span class="text-muted" ng-show="item.status.done">Die Bearbeitung dieses Titels wurde am {{item.status.lastChange | date:'dd.MM.yyyy'}} abgeschlossen.</span>
                <span class="text-muted" ng-show="item.status.pending">Sie haben diesen Titel am {{item.status.lastChange | date:'dd.MM.yyyy'}} bestellt.<br><br></span>

                <div class="btn-group pull-right" ng-show="item.status.rejected">
                    <button type="button" class="btn btn-danger" ng-click="ItemCtrl.removeRejected()">
                        <i class="fa fa-plus-circle"></i> Wieder aufnehmen
                    </button>
                </div>

                <div class="btn-group pull-right" uib-dropdown ng-show="ItemCtrl.showWatchlistBtn()">
                    <button type="button" class="btn btn-warning" ng-click="ItemCtrl.addToWL()"><i
                            class="fa fa-star fa-lg"></i> Merkliste
                    </button>
                    <button type="button" class="btn btn-warning dropdown-toggle" uib-dropdown-toggle>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right">
                        <li ng-repeat="wl in watchlists" ng-click="ItemCtrl.addToWL(wl.id)">
                            <a href="">{{wl.name}}</a>
                        </li>
                    </ul>
                </div>

                <div class="btn-group pull-right" ng-show="ItemCtrl.showWatchlistRemBtn()">
                    <button type="button" class="btn btn-warning disabled">
                        <i class="fa fa-check"></i> In „ {{item.status.watchlist.name}} “
                    </button>
                    <button type="button" class="btn btn-default" ng-click="ItemCtrl.removeFromWL()">
                        <i class="fa fa-times"></i>
                    </button>
                </div>

            </div>
        </div>
        <!-- Weiterleiten Button -->
        <div class="row" class="forward-button">
            <div class="col-md-12">
                <div class="btn-group pull-right" ng-show="ItemCtrl.showForwardBtn()">
                    <button type="button" class="btn btn-info" ng-click="ItemCtrl.toggleColleagues()">
                        <i class="fa fa-share"></i> Weiterleiten
                    </button>
                </div>
            </div>
        </div>
        <div class="row colleague-list" ng-show="showColleagues">
            <p class="colleague-hint" ng-show="item.comment"><b>Achtung:</b> Kommentar für den Kollegen einsehbar.</p>
            <ul>
                <li ng-repeat="(key,value) in colleagues" ng-click="ItemCtrl.forward(value)">{{ItemCtrl.formatColleagueName(value)}}</li>
            </ul>
        </div>
        <!-- Ablehnen Button -->
        <div class="row" class="title-button">
            <div class="col-md-12">
                <button type="button" class="btn btn-link pull-right item-remove" ng-show="ItemCtrl.isRejectable()"
                        ng-click="ItemCtrl.addRejected()">
                    <i class="fa fa-minus-circle fa-lg"></i> Ablehnen
                </button>
            </div>
        </div>
    </div>
</div>
