{if="$in_ct"}
	<div class="btn-group pull-right" id="ct-btn-{$id}">
		<button type="button" class="btn btn-success add-cart" disabled="disabled"><i class="fa fa-check"></i> Im Warenkorb</button>
		<button type="button" class="btn btn-default rm-cart" rel='{"id":"{$id}","rm":{$rm}}' id="wl-btn-rm-{$id}"><i class="fa fa-times"></i></button>
	</div>
{else}
	<div class="btn-group pull-right" id="ct-btn-{$id}">
	<button type="button" class="btn btn-success add-cart" rel='{"id":"{$id}","rm":{$rm}}'><i class="fa fa-shopping-cart"></i> Warenkorb</button>
	</div>
{/if}