<div class="container" ng-controller="HeaderController as HeaderCtrl">
    <div class="row" id="header" ng-show="loggedIn">
        <div class="col-md-12">
            <div class="page-header page-title-container">
                <h1>
                    <i class="fa header-icon" ng-class="icon" ng-show="icon | notEmpty"></i>
                    <span ng-show="selection">Auswahl aus</span> {{title}}
                    <button type="button" class="btn btn-primary btn-lg pull-right"
                            ng-show="HeaderCtrl.showCartContinue()" ng-click="HeaderCtrl.cartContinue()">
                        <i class="fa fa-chevron-circle-right"></i> Fortfahren
                    </button>
                    <button type="button" class="btn btn-primary btn-lg pull-right"
                            ng-show="HeaderCtrl.showDeletePermanently()" ng-click="HeaderCtrl.deletePermanently()">
                        <i class="fa fa-trash"></i> Aus meiner Ansicht löschen
                    </button>
                    <br>
                    <small>
                        <span ng-show="HeaderCtrl.showSearchGettingStarted()">Geben Sie oben ein Stichwort ein oder führen Sie eine erweiterte Suche durch um den Suchvorgang zu starten.</span>
                        <span ng-show="HeaderCtrl.showError()">Leider ist ein Fehler aufgetreten</span>
                        <span ng-show="HeaderCtrl.showSearchResults()">{{total}} Ergebnisse gefunden</span>
                        <span ng-show="HeaderCtrl.showSearchNoResults()">Keine Ergebnisse gefunden</span>
                        <span ng-show="HeaderCtrl.showOrderConfirmation()">Bitte überprüfen Sie, ob alle Angaben korrekt sind</span>
                        <span ng-show="HeaderCtrl.showOrderedConfirmation()">Folgende Titel werden weitergeleitet</span>
                        <span ng-show="HeaderCtrl.showEntriesInformation()">{{total}} Datensätze in dieser Ansicht</span>
                        <span ng-show="HeaderCtrl.showEntriesSelectedInformation()">
                            <span ng-show="selection == 'item'">{{selected}} von {{total}} Datensätzen ausgewählt</span>
                            <span ng-show="selection == 'view'">Alle Datensätze dieser Ansicht ausgewählt</span>
                        </span>
                        <span ng-show="HeaderCtrl.showManageWatchlists()">Sie verfügen über {{total}} Merklisten</span>
                        <span ng-show="loading"><i class="fa fa-spinner fa-spin"></i> Laden...</span>
                    </small>
                </h1>
            </div>
        </div>
    </div>
</div>