<div ng-controller="OrderController as OrderCtrl">
    <div ng-hide="orderComplete">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Titel</th>
                            <th>Lieferant</th>
                            <th>Budget</th>
                            <th>Selektionscode</th>
                            <th>SSG-Nr.</th>
                            <th>KXP-Treffer</th>
                            <th>Kommentar</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="order in orderlist">
                            <td><span class="text-muted" ng-show="!order.title && (order.uebergeordnete_gesamtheit | notEmpty)">MBW:&nbsp;</span>{{order.title || order.uebergeordnete_gesamtheit}}</td>

                            <!-- Lieferant -->
                            <td ng-show="order.supplier.setByUser">{{order.supplier.value}}</td>
                            <td ng-hide="order.supplier.setByUser" class="auto-default">{{order.supplier.value}}
                                <i class="fa fa-question-circle auto-default-help"
                                   uib-popover-html="defaultValueHelpText"
                                   popover-placement="bottom"
                                   popover-trigger="mouseenter">
                                </i>
                            </td>

                            <!-- Budget -->
                            <td ng-show="order.budget.setByUser">{{order.budget.value}}</td>
                            <td ng-hide="order.budget.setByUser" class="auto-default">{{order.budget.value}}
                                <i class="fa fa-question-circle auto-default-help"
                                   uib-popover-html="defaultValueHelpText"
                                   popover-placement="bottom"
                                   popover-trigger="mouseenter">
                                </i>
                            </td>

                            <!-- Selcode -->
                            <td ng-show="order.selcode.setByUser">{{order.selcode.value}}</td>
                            <td ng-hide="order.selcode.setByUser" class="auto-default">{{order.selcode.value}}
                                <i class="fa fa-question-circle auto-default-help"
                                   uib-popover-html="defaultValueHelpText"
                                   popover-placement="bottom"
                                   popover-trigger="mouseenter">
                                </i>
                            </td>


                            <!-- SSG-Nr. -->
                            <td ng-show="order.ssgnr.setByUser">{{order.ssgnr.value}}</td>
                            <td ng-hide="order.ssgnr.setByUser" class="auto-default">{{order.ssgnr.value}}
                                <i class="fa fa-question-circle auto-default-help"
                                   uib-popover-html="defaultValueHelpText"
                                   popover-placement="bottom"
                                   popover-trigger="mouseenter">
                                </i>
                            </td>

                            <td>{{order.gvkt}}</td>
                            <td>{{order.comment}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3 btns-order">
                <button type="button" class="btn btn-default btn-order btn-lg" ng-click="OrderCtrl.cancel()">
                    <i class="fa fa-times icon-large"></i> Abbrechen
                </button>
                <button type="button" class="btn btn-primary btn-order btn-lg" ng-click="OrderCtrl.order()">
                    <i class="fa fa-shopping-cart"></i> Bestellen
                </button>
            </div>
        </div>
    </div>
    <div ng-show="orderComplete">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-pills nav-stacked orders">
                    <li ng-repeat="order in orderlist"><a href=""><i class="fa fa-caret-right orders-caret"></i><span class="text-muted" ng-show="!order.title && (order.uebergeordnete_gesamtheit | notEmpty)">MBW:&nbsp;</span>{{order.title || order.uebergeordnete_gesamtheit}}</a>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3 btns-order">
                    <button type="button" class="btn btn-primary btn-order btn-lg" ng-click="OrderCtrl.finish()">
                        <i class="fa fa-reply"></i> Zurück zur Gesamtübersicht
                    </button>
                </div>
            </div>
        </div>
    </div>
