/*
|--------------------------------------------------------------------------
|
|--------------------------------------------------------------------------
|
|
|
|
|
*/

.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-nav > li > a:hover {
  color: $text-col;
}

.navbar-inverse .navbar-nav > .dropdown > a .caret,
.navbar-inverse .navbar-nav > .dropdown > a .caret:hover,
.navbar-inverse .navbar-nav > .dropdown > a .caret:active {
  border-top-color: $text-col;
  border-bottom-color: $text-col;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  color: $text-col;
  background-color: transparent;
}

#btn-sel-all-bar {
  color: $primary;
}