/*
|--------------------------------------------------------------------------
| Bootstrap variable assignment
|--------------------------------------------------------------------------
|
| In this file the basic bootstrap theme gets tweaked to the custom style.
| This is done by setting the SASS variables defined by bootstrap to the
| desired value (i.e. a fixed value or variable from elsewhere).
|
*/

$brand-primary: $primary;

$navbar-default-link-color: $navbar-link-col;
$navbar-default-link-hover-color: $navbar-link-hover-col;
$navbar-default-bg: $primary;
$navbar-border-radius: 0px;
$navbar-height: 40px;
$navbar-default-border: $secondary;
$navbar-default-brand-color: $navbar-link-col;
$navbar-default-brand-hover-color: $navbar-link-col;
$navbar-default-color: $navbar-link-col;
$navbar-default-link-active-color: $navbar-link-col;

$navbar-inverse-bg: $option-menu-bg;
$navbar-inverse-border: $option-menu-border;
$navbar-inverse-link-hover-color: $secondary;

$input-border-focus: lighten($primary, 20%);

$dropdown-link-hover-bg: $primary;
$dropdown-link-hover-color: $navbar-link-col;

$text-muted: $muted;
$text-color: $text-col;

$headings-color: $primary;

$input-group-addon-bg: $primary;
$input-group-addon-border-color: $secondary;

$badge-bg: $secondary;
$badge-color: $navbar-link-col;

$font-size-h1: 26px;
$font-size-h2: 20px;
$font-size-h3: 16px;

.navbar-default {
  border-width: 0px 0px 1px 0px;
}

hr {
  border-color: $primary;
}



