<div class="row controls" ng-controller="OptionController as OptCtrl">
    <div class="col-xs-12">
        <nav class="navbar navbar-inverse" role="navigation">
            <ul class="nav navbar-nav">
                <li class="dropdown" ng-show="showSelectAll">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" tooltip-placement="bottom"
                       uib-tooltip="Auswahloptionen anzeigen" id="btn-sel-all-bar">
                        <i class="fa fa-asterisk"></i> <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="" ng-click="OptCtrl.selectAll()"><i class="fa fa-fw fa-eye"></i> Alle angezeigten
                            Titel auswählen</a></li>
                        <li><a href="" ng-click="OptCtrl.selectView()"><i class="fa fa-fw fa-asterisk"></i> Alle Titel
                            in dieser Ansicht auswählen</a></li>
                    </ul>
                </li>
                <p class="navbar-text">Sortieren nach: </p>
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">
                        {{selected_sorter}} <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="sorter in sortby">
                            <a href="" class="chg-set" ng-click="OptCtrl.setSorter(sorter.value)">{{sorter.name}}</a>
                        </li>
                    </ul>
                </li>
                <p class="navbar-text">Reihenfolge: </p>
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">
                        {{selected_order}} <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="ord in order">
                            <a href="" class="chg-set" ng-click="OptCtrl.setOrder(ord.value)">{{ord.name}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>