<!DOCTYPE html>
<html ng-app="Profildienst">
<head>
    <title>GBV-Profildienste</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" type="image/x-icon" href="/icon/profildienst.ico">
    <link href="/css/bundle.css" rel="stylesheet" media="screen">
    <base href="/">
</head>
<script src="/js/bundle.js"></script>
<div id="header-fixed">
    <ng-menubar></ng-menubar>
    <ng-header></ng-header>
</div>
<div ng-controller="ContentController as ContentCtrl">
    <div class="container" id="content" ng-class="loggedIn ? 'spacer' : 'small-spacer'">
        <div ng-view></div>
    </div>
</div>
<ng-footer></ng-footer>

<script type="text/ng-template" id="picaModal.html">
    <div class="modal-header">
        <h4 class="modal-title">Rohdaten-Ansicht</h4>
    </div>
    <div class="modal-body">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Feldbezeichner</th>
                    <th>Unterfeld</th>
                    <th>Wert</th>
                </tr>
            </thead>
            <tbody>
            <tr ng-repeat-start="(field, subfields) in picaData">
                <td rowspan="{{subfields.length}}">{{field}}</td>
                <td>{{subfields[0].subfield}}</td>
                <td>{{subfields[0].value}}</td>
            </tr>
            <tr ng-repeat-end ng-repeat="subfield in subfields.slice(1)">
                <td>{{subfield.subfield}}</td>
                <td>{{subfield.value}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="close()">Schließen</button>
    </div>
</script>

<script type="text/ng-template" id="coverModal.html">
    <div class="modal-header">
        <h4 class="modal-title">Cover-Ansicht</h4>
    </div>
    <div class="modal-body">
        <i ng-show="loading" class="fa fa-spinner fa-2x fa-spin"></i>
        <img ng-hide="loading" data-ng-src="data:image/jpeg;base64,{{cover}}">
        <div ng-show="!loading && !cover" class="alert alert-danger">
            Leider ist ein Fehler aufgetreten, die Coverabbildung konnte nicht geladen werden.
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="close()">Schließen</button>
    </div>
</script>

<script type="text/ng-template" id="errorModal.html">
    <div class="modal-header">
        <h4 class="modal-title">Sitzung abgelaufen</h4>
    </div>
    <div class="modal-body">
        <p>Ihre Sitzung ist abgelaufen. Sie müssen sich erneut anmelden,
            um den Profildienst weiter verwenden zu können.</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="close()">Erneut anmelden</button>
    </div>
</script>
</body>
</html>
