<div ng-controller="LoginController as LoginCtrl">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1>Anmelden <small>{{library.name}}</small></h1>
      </div>
    </div>
    <div class="col-md-12" ng-show="error">
      <div class="alert alert-danger">{{errorMessage}}</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <br>
      <br>
      <form role="form" class="form-horizontal" novalidate>
        <div class="form-group" ng-class="{'has-error': !userValid}">
          <label for="inputILN" class="control-label">Bitte geben Sie Ihre Kennung ein:</label>
          <input type="text" class="form-control" id="inputILN" placeholder="ID" ng-model="user">
          <span class="help-block" ng-hide="userValid"><br>Bitte geben Sie eine gültige Kennung ein. Eine gültige Kennung besteht aus vier Ziffern.</span>
        </div>
        <div class="form-group" ng-class="{'has-error': !passValid}">
          <label for="inputPassword" class="control-label">Bitte geben Sie Ihr Passwort ein:</label>
          <input type="password" class="form-control" id="inputPassword" placeholder="Passwort" ng-model="pass" >
          <span class="help-block" ng-hide="passValid">Bitte geben Sie ein Passwort ein.</span>
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-primary" ng-click="LoginCtrl.submitLogin()">Anmelden</button>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <br>
      <p>Alle teilnehmenden Referenten müssen über eine gültige CBS-Kennung verfügen und es
        muss ein gültiges <a href="http://www.gbv.de/wikis/cls/Profildienste:Referentenprofile">Referentenprofil</a>
        eingerichtet sein.</p>
      <br>
      <div class="alert alert-info">
        <b>Hinweis:</b> Bitte speichern sie diese URL als Lesezeichen zur Anmeldung beim Profildienst der <i>{{library.name}}.</i>
      </div>
    </div>
  </div>
</div>